.todo-title{
  background-color: #e0f2fe;
  display: flex;
  justify-content: center;
  color: #374151;
  padding: 10px;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  
}

.input-box{
  box-sizing: border-box;
  border: 1px solid #9ca3af;
  border-radius: 5px;
  padding: 6px 8px;
  margin: 2px 10px;
  outline: none;
}
.input-box:focus{
  border: 1px solid #1f2937;
}
.btn{
  box-sizing: border-box;
  border: 2px solid #60A5FA;
  border-radius: 6px;
  padding: 4px 10px;
  margin: 2px 10px;
  background-color: white;
  cursor: pointer;
}

.btn:hover{
  background-color: #eff6ff;
}

.table, td{
  border: 1px solid grey;
  border-collapse: collapse;
}

thead{
  background-color: #DBEAFE;
}

td{
  padding: 5px 8px;
}

.btn-danger{
  border: 2px solid #EF4444;
}

.input-area{
  padding: 20px;
  border-bottom: 1px solid grey;
}

.checkbox-btn{
  margin-left: 30px;
  transform: scale(1.4);
  cursor: pointer;
}

.select-filter{
  margin: 0px 4px;
  padding: 2px 4px;
  border-radius: 6px;
  border: 1px solid grey;
}

.select-filter:focus{
  background-color:#F3F4F6;
}
