.nav {
  background-color: rgb(28, 36, 52);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.project-name{
  font-size: 1.65rem;
  font-weight: 500;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.input-area {
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.input-box {
  border: 1px solid #9ca3af;
  border-radius: 5px;
  padding: 0.45rem 0.6rem;
  width: 200px;
  margin-bottom: 16px;
  width: 100%;
}

.btn {
  border: none;
  padding: 0.5rem 0.9rem;
  margin: 0 0.5rem;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 90%;
}

.btn-primary{
  background-color: rgb(60, 80, 224);
}
.btn-danger {
  background-color: #ef4444;
}
.btn:hover {
  opacity: 100%;;
}

.filter-wrapper{
  width: 46%;
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid rgb(221, 216, 216);
}

.select-filter {
  margin: 0px 8px;
  padding: 0.45rem 0.8rem;
  border-radius: 6px;
  border: 1px solid rgb(221, 216, 216);
}

.select-filter:focus {
  background-color: #f3f4f6;
}

.data-container{
  display: grid;
  gap: 12px;
}


.data-header, .data-row{
  display: grid;
  grid-template-columns: 50px 1fr 120px 120px 160px; /* Define widths for each column */
  align-items: center;
  max-width: 800px;
  gap: 12px;
  border-bottom: 1px solid rgb(224, 219, 219);
  padding-bottom: 6px;
}

.data-row div{
  padding-left: 2px;
}
.data-row span{
  display: none;
}

.checkbox-btn {
  transform: scale(1.3);
  cursor: pointer;
 
}

.card{
  width: 30vw;
  margin: 85px 0px;
  height: 340px;
  border-left: 1px solid rgb(191, 190, 190);
  padding-left: 20px;
}

.card-head{
  background-color: #fef3c7;
  padding: 8px 20px;
  border-bottom:  1px solid lightgray;
  font-size: 18px;
  font-weight: 600;
 
}

.card-body{
  background-color: #fffbeb;
  padding: 12px 20px;
}
.items{
  display: flex;
  justify-content: center;
}

.info-title{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

@media screen and (max-width:768px) {
  .input-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-box{
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 12px;
  }
  
.filter-wrapper{
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid rgb(221, 216, 216);
}

.data-header{
  display: none;
}
.data-row{
  display: block;
  width: 90vw;
  margin: 6px;
}
.data-row div{
  padding: 2px;
}
.data-row span{
  display: contents;
}
.checkbox-btn{
  transform: scale(1);
  margin: 4px ;
}
.data-row button{
  margin-top: 8px;
}
}