.todo {
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  align-items: center;
  background-color: lightblue;
  height: 100vh;
  justify-content: center;
  /* gap: 12px; */
  gap: 0.5rem;
  /* font-weight: bolder; */
}
/* Layout properties */
/* flex =>  one direction(1D) layout - hand gap */
/* grid =>  two direction(2D) layout - hand gap + hand side gap */
/* 

em
if patent has 2px font-size
if child is given font-size of 2em it will be 2*2px=4px

rem
base pixel of 16px

px => simply pixel
*/

.todo-input {
  display: flex;
  gap: 1rem;
}

.todo-input-text-field {
  height: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.5rem;
}

.todo-input-btn {
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.5rem;
}

.todo-list {
  margin-top: 2rem;
}

.todo-list-item {
  display: flex;
  gap: 1rem;
}

.todo-list-item p {
  font-size: 2rem;
}
.todo-list-item button {
  padding: 1rem;
}

.delete-btn {
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  background-color: lightcoral;
  color: black;
  font-weight: bold;
}
.edit-btn {
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  background-color: lavender;
  font-weight: bold;
}

.cancel-edit-btn {
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
}
